@model IEnumerable<Aeg.CarService.Entity.CarService.Model>
@{
    ViewBag.Title = ViewBag.BrandName;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm("CreateModel", "BrandModel"))
{
    <div class="row">
        <div class="col">
            <label>Model</label>
            <input type="text" name="ModelName" class="form-control" />
            <input type="hidden" name="BrandId" value="@ViewBag.BrandId" />
        </div>
        <div class="col">
            <br />
            <input type="submit" class="btn btn-primary" value="Add" />
        </div>
    </div>
}

<hr />
<table class="table table table-responsive table-bordered table-striped mt-2">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ModelName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                <button type="button" onclick="deleteModal(this)" class="btn-sm btn btn-danger" data-modelname="@item.ModelName" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#DeleteModal">
                    Delete
                </button>
            </td>
        </tr>
    }
</table>
<div class="float-end mt-2">
    <a href="/BrandModel/Index" class="btn btn-warning">Return the Brands</a>
</div>
<div class="modal fade" id="DeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Model</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Do you want to delete <strong id="modelname"></strong> model?
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("ModelDelete", "BrandModel", FormMethod.Post))
                {
                    <input type="hidden" name="id" id="deleteId" />
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function deleteModal(btn) {
            var id = $(btn).data('id');
            var modelName = $(btn).data('modelname');
            $('#modelname').text(modelName);
            $('#deleteId').val(id);
        }
    </script>
}
